body{  
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:radial-gradient(circle at 30% 0%, rgba(61, 62, 66, 1) 0%, rgba(26, 27, 32, 1) 43%);
}
.container{
    height: 842px;
    width: 595px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    box-shadow: 0 0 48px rgba(0,0,0,.50);
} 
.head{
    margin-top: 3%;
    background: transparent;
    height: 15%;
    width: 95%;
    position: relative;

}

.image{
    position: absolute;
    height: 100%;
    width: 35%;
    left: 0;
    margin: auto;
}

img{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.name{
    height: 70%;
    width: 65%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
}
.line{
    margin-top: 10px;
    height: 2px;
    width: 90%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
}
.body{
    background: transparent;
    height: 79%;
    width: 95%;
    display: flex;

} 

.column1{
    background: transparent;
    height: 100%;
    width: 35%;
}

.columnline{
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}
.column2{
    background: transparent;
    height: 100%;
    width: 65%;
}
.me, .social{
    height: 24%;
    width: 100%;
    text-align: left;
    background: transparent;
}

.contact{
    height:50%;
    width: 100%;
    text-align: left;
    background: transparent;
    
}


.skill{
    height: 23%;
    width: 100%;
    display: flex;
}
.skill section{
    width: 50%;
    text-align: left;
    background: transparent;
}


.education{
    height: 23%;
    width: 100%;
    text-align: center;
    background: transparent;

}
.experience{
    background: transparent;
    height: 23%;
    width: 100%;
    text-align: left;
    background: transparent;

}
.character{
    height: 30%;
    width: 100%;
    text-align: left;
    background: transparent;
}

h1{
    position: absolute;
    padding-right: 120px;
    color: white;
    font-size: 55px;
    height: 50%;
    width: 50%;
    right: 0;
    top: 0;
    margin: auto;
}

h2{
    position: absolute;
    padding-right: 26px;
    color: white;
    font-size: 30px;
    right: 0;
    bottom:0;
    margin: auto;
}
h3{
    padding-left: 10px;
    color: white;
    font-size: 12px;
    text-align: left;
}
h4{
    padding-left: 10px;
    color: white;
    font-size: 8px;
    text-align: left;
}
p {
    font-size: 8px;
    color: white;
}

.me p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
}


.social p, .contact p, .experience p{
    padding-right: 10px;
    text-align: left;
    margin-top: 3px;
}
.character p{
    margin: 0;
}

ul{
    font-size: 8px;
    color: white;
}
ol{
    font-size: 8px;
    color: white;
    text-align: left;
    padding-bottom: 100px;
}

.contact h2{
    position: relative;
    padding: 20px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-right: 20px;
    top: 20px;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
}

.container_button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    color: white;
    background: transparent;
    height: 40px;
    width: 160px;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.50);;
    border: 0;
    margin: 0px 5px 0px 5px;
}
table{
    margin: 5px;
    display: inline-block;
}
li{
    font-size: 10px;
    color: white;
}
.skill li{
    margin-top: px;
    margin-bottom: 4px;
}
th,
td {
    color: white;
    font-size: 9px;
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;
}

a{  
    padding-bottom: 10px;
    text-align: left;
    display: block;
}